
nav{
 font-family: 'Roboto', sans-serif;
 
}

h1{
     font-family: 'Roboto', sans-serif;
}
.responsive {
  width: 100%;
  height: auto;
}
.banner-upper{
     box-shadow: 4px 4px 5px #888888;
}
footer{
 padding: 10px 0;
 background-color: #101010;
 color:#9d9d9d;
 bottom: 0;
 width: 100%;
 
}
.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.w3-round-xlarge{
    border-radius: 16px;
}
.section{
    margin-left: 20px;
    margin-right: 20px;
}
.etsy:hover{
    border-top:2px solid pink;
    border-bottom: 2px solid pink;
    border-right:2px solid pink;
    border-left: 1px solid pink;
    box-shadow: 4px 4px 5px #888888;
     transition:all 1s;
    transform: scale(1.1);
}
.thumbnail:hover{
    
    border-top:2px solid pink;
    border-bottom: 2px solid pink;
    border-right:2px solid pink;
    border-left: 1px solid pink;
    box-shadow: 4px 4px 5px #888888;
     transition:all 1s;
    transform: scale(1.1);
}

.row_style_signup{
    width: 45%;
    margin: 0 auto;
    padding-top: 10%;
    height: 50%;
}
.row_style_login{
 padding-top:20%;
  width: 70%;
  margin: 0 auto;
  height: 50%;
}
.row_style_setting{
 padding-top:20%;
  width: 70%;
  margin: 0 auto;
  height: 50%;
}
.bg-img {
  /* The image used */
  background-image: url("images/signup.png");

  /* Control the height of the image */
  min-height: 640px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
input{
    opacity:.6;
    
    }
.panel-footer{
    opacity: .6;
}
.login-img {
  /* The image used */
  background-image: url("images/log.png");

  /* Control the height of the image */
  min-height: 640px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.content{
    
  background-image: url(images/about1.png);
  width: 100%;
  height: auto;
}
.contact{
    background-image: url("images/contact1.png");

  /* Control the height of the image */
  min-height: 640px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
textarea{
    margin-bottom: 20px;
    opacity:.7;
}
